---
import { getAttendeeByEmail, leaveSlot } from "src/services/get-ticket";

const { email } = Astro.params;
const { data, error: getAttendeeByEmailError } = await getAttendeeByEmail(
  email
);

const { error } = await leaveSlot(email);
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>Gracias por liberar tu cupo!</title>
  </head>
  <body>
    <style>
      body {
        width: 100%;
        min-height: 100vh;
        font-family: var(--fontFamily);
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #fed132;
        font-family: "Work Sans", sans-serif;
        gap: 32px;
      }
      .card {
        background-color: white;
        padding: 40px;
        position: relative;
      }
      .social {
        display: flex;
        align-items: center;
        gap: 16px;
      }
      h1 {
        font-size: 32px;
      }

      p {
        font-size: 20px;
      }
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      .icon {
        position: absolute;
        top: -70px;
        right: -70px;
        animation-name: rotation;
        animation-iteration-count: infinite;

        animation-timing-function: linear;
        animation-duration: 3s;
      }
    </style>
    <a href="https://friends.figma.com/chile"
      ><svg
        width="211"
        height="152"
        viewBox="0 0 211 152"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M204.27 22.6151C204.27 33.2935 195.585 41.95 184.872 41.95H165.121V3.28027H184.872C195.585 3.28027 204.27 11.9368 204.27 22.6151ZM184.872 35.6222C192.079 35.6222 197.921 29.7987 197.921 22.6151C197.921 15.4315 192.079 9.60805 184.872 9.60805H171.469V35.6222H184.872Z"
          fill="black"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M132.321 22.6151C132.321 33.2935 141.006 41.95 151.719 41.95H171.47V3.28027H151.719C141.006 3.28027 132.321 11.9368 132.321 22.6151ZM151.719 35.6222C144.512 35.6222 138.669 29.7987 138.669 22.6151C138.669 15.4315 144.512 9.60805 151.719 9.60805H165.121V35.6222H151.719Z"
          fill="black"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M132.321 54.9566C132.321 65.6349 141.006 74.2914 151.719 74.2914H171.47V35.6217L151.719 35.6222C141.006 35.6222 132.321 44.2782 132.321 54.9566ZM151.719 67.9637C144.512 67.9637 138.669 62.1402 138.669 54.9566C138.669 47.773 144.512 41.95 151.719 41.95L165.121 41.9495V67.9637H151.719Z"
          fill="black"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M132.321 87.2983C132.321 97.9988 141.116 106.633 151.807 106.633C162.595 106.633 171.47 97.9201 171.47 87.1225V67.9635L151.719 67.9637C141.006 67.9637 132.321 76.62 132.321 87.2983ZM151.807 100.305C144.577 100.305 138.669 94.4598 138.669 87.2983C138.669 80.1147 144.512 74.2914 151.719 74.2914L165.121 74.2912V87.1225C165.121 94.3811 159.134 100.305 151.807 100.305Z"
          fill="black"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M165.118 54.9566C165.118 65.6349 173.803 74.2914 184.516 74.2914H184.869C195.582 74.2914 204.267 65.6349 204.267 54.9566C204.267 44.2782 195.582 35.6217 184.869 35.6217H184.516C173.803 35.6217 165.118 44.2782 165.118 54.9566ZM184.516 67.9637C177.309 67.9637 171.466 62.1402 171.466 54.9566C171.466 47.773 177.309 41.9495 184.516 41.9495H184.869C192.076 41.9495 197.918 47.773 197.918 54.9566C197.918 62.1402 192.076 67.9637 184.869 67.9637H184.516Z"
          fill="black"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M56.0981 97.3496L59.6335 100.517C59.3262 101.393 59.1591 102.335 59.1591 103.316C59.1591 107.985 62.9453 111.77 67.6159 111.77C72.2865 111.77 76.0728 107.985 76.0728 103.316C76.0728 102.415 75.9317 101.546 75.6704 100.732L79.4544 97.3415L79.6334 97.1818C92.6922 85.5279 104.042 75.3989 112.066 65.7379C117.787 58.8502 122.156 51.8098 124.243 44.1777C127.94 43.2742 130.685 39.9399 130.685 35.9648C130.685 32.2843 128.332 29.1531 125.048 27.9921C122.151 11.8266 108.077 -0.000488281 90.9508 -0.000488281C84.8661 -0.000488281 79.2979 2.32111 74.716 5.2358C73.4464 6.04344 72.2231 6.91505 71.0523 7.82815C70.0023 7.36079 68.8394 7.10104 67.6159 7.10104C66.4698 7.10104 65.377 7.32895 64.3803 7.74192C63.2432 6.86016 62.057 6.01798 60.8274 5.2358C56.2455 2.32111 50.6773 -0.000488281 44.5926 -0.000488281C27.5047 -0.000488281 13.456 11.7732 10.5151 27.8826C7.05927 28.945 4.54726 32.1616 4.54726 35.9648C4.54726 40.0579 7.45685 43.4716 11.3212 44.2517C13.4158 51.8554 17.7752 58.8725 23.4772 65.7379C31.501 75.3988 42.8511 85.5278 55.9099 97.1817L56.0981 97.3496ZM17.5561 43.0911C22.0583 58.4859 37.9926 72.7307 60.3029 92.6408L63.7967 95.7709C64.9439 95.1894 66.2416 94.8617 67.6159 94.8617C69.0693 94.8617 70.4371 95.2282 71.6318 95.8739L75.2405 92.6408C97.4725 72.8005 113.373 58.5859 117.939 43.2531C115.445 41.783 113.771 39.0693 113.771 35.9648C113.771 32.5654 115.778 29.6347 118.672 28.292C115.991 15.5656 104.758 6.31162 90.9508 6.31162C85.4503 6.31162 80.0856 8.9066 75.4639 12.3996C75.8566 13.3746 76.0728 14.4397 76.0728 15.5553C76.0728 20.2245 72.2865 24.0096 67.6159 24.0096C62.9453 24.0096 59.1591 20.2245 59.1591 15.5553C59.1591 14.3714 59.4025 13.2443 59.842 12.2214C55.2745 8.81873 49.9992 6.31162 44.5926 6.31162C30.7352 6.31162 19.4716 15.6324 16.843 28.4297C19.584 29.8281 21.4609 32.6773 21.4609 35.9648C21.4609 38.9586 19.9044 41.5889 17.5561 43.0911ZM9.95792 33.3733C9.95792 33.3734 9.95792 33.3732 9.95792 33.3733C10.6916 32.5123 11.7841 31.9662 13.0042 31.9662C14.3512 31.9662 15.5428 32.6319 16.2676 33.6521C16.2676 33.6521 16.2676 33.6521 16.2676 33.6521C16.7314 34.305 17.0041 35.103 17.0041 35.9648C17.0041 38.1732 15.2132 39.9636 13.0041 39.9636C10.795 39.9636 9.00413 38.1732 9.00413 35.9648C9.00413 34.976 9.36312 34.0713 9.95792 33.3733ZM71.6159 103.316C71.6159 103.164 71.6075 103.014 71.5909 102.866C71.5197 102.23 71.2993 101.639 70.9655 101.13C70.28 100.082 69.1162 99.376 67.7843 99.3209L67.7578 99.3197C67.7106 99.3181 67.6635 99.3174 67.616 99.3174C65.4069 99.3174 63.616 101.108 63.616 103.316C63.616 103.498 63.6282 103.678 63.6519 103.854C63.666 103.959 63.6843 104.063 63.7066 104.166C64.0964 105.966 65.6986 107.315 67.6159 107.315C69.825 107.315 71.6159 105.524 71.6159 103.316ZM122.228 39.9636C121.07 39.9636 120.027 39.4719 119.297 38.6861C119.192 38.5738 119.094 38.4555 119.003 38.3318C118.516 37.6691 118.228 36.8506 118.228 35.9648C118.228 34.9298 118.621 33.9866 119.267 33.2765C119.998 32.4714 121.054 31.9662 122.228 31.9662C123.463 31.9662 124.568 32.5261 125.302 33.406C125.406 33.5317 125.504 33.6639 125.593 33.802C125.995 34.4255 126.228 35.1679 126.228 35.9648C126.228 38.1732 124.437 39.9636 122.228 39.9636ZM67.616 11.5567C68.9967 11.5567 70.214 12.2561 70.9328 13.3197C71.2876 13.8447 71.521 14.4585 71.5926 15.1207C71.608 15.2634 71.6159 15.4085 71.6159 15.5553C71.6159 17.7638 69.825 19.5541 67.6159 19.5541C65.4068 19.5541 63.616 17.7638 63.616 15.5553C63.616 15.4918 63.6174 15.4286 63.6204 15.3659C63.7194 13.2454 65.4704 11.5567 67.616 11.5567Z"
          fill="black"></path>
        <path
          d="M93.9691 137.038C93.7079 137.822 93.316 138.488 92.7936 139.036C92.2712 139.572 91.6573 139.977 90.9521 140.251C90.2468 140.525 89.4697 140.662 88.6207 140.662C87.38 140.662 86.3025 140.395 85.3882 139.859C84.474 139.324 83.7687 138.56 83.2724 137.567C82.7761 136.574 82.5279 135.386 82.5279 134.002C82.5279 132.617 82.7761 131.429 83.2724 130.436C83.7687 129.443 84.474 128.679 85.3882 128.144C86.3025 127.608 87.3734 127.341 88.6011 127.341C89.4501 127.341 90.2141 127.458 90.8933 127.693C91.5855 127.928 92.1732 128.281 92.6565 128.751C93.1397 129.221 93.5119 129.809 93.7732 130.514L91.7945 131.396C91.5333 130.625 91.1545 130.064 90.6582 129.711C90.1619 129.345 89.5154 129.163 88.7187 129.163C87.922 129.163 87.2232 129.352 86.6224 129.731C86.0217 130.109 85.5515 130.658 85.2119 131.376C84.8854 132.095 84.7221 132.97 84.7221 134.002C84.7221 135.02 84.8788 135.895 85.1923 136.627C85.5058 137.345 85.9563 137.894 86.5441 138.272C87.1318 138.651 87.8371 138.84 88.6599 138.84C89.4566 138.84 90.1423 138.638 90.717 138.233C91.3047 137.815 91.7226 137.195 91.9708 136.372L93.9691 137.038ZM96.3512 140.467V126.263H98.4474V132.238C98.774 131.624 99.2115 131.18 99.76 130.906C100.322 130.619 100.942 130.475 101.621 130.475C102.313 130.475 102.934 130.612 103.482 130.887C104.044 131.148 104.488 131.546 104.815 132.082C105.141 132.617 105.304 133.296 105.304 134.119V140.467H103.208V134.785C103.208 133.819 103.006 133.146 102.601 132.767C102.209 132.389 101.713 132.199 101.112 132.199C100.694 132.199 100.276 132.304 99.858 132.513C99.4531 132.709 99.1135 133.035 98.8393 133.492C98.5781 133.936 98.4474 134.537 98.4474 135.295V140.467H96.3512ZM109.539 129.025C109.082 129.025 108.729 128.914 108.481 128.692C108.246 128.457 108.128 128.131 108.128 127.713C108.128 127.295 108.246 126.975 108.481 126.753C108.729 126.531 109.082 126.42 109.539 126.42C109.983 126.42 110.322 126.531 110.557 126.753C110.806 126.975 110.93 127.295 110.93 127.713C110.93 128.131 110.806 128.457 110.557 128.692C110.322 128.914 109.983 129.025 109.539 129.025ZM110.577 130.671V140.467H108.481V130.671H110.577ZM115.894 126.263V137.724C115.894 138.207 115.979 138.54 116.149 138.723C116.319 138.906 116.6 138.997 116.991 138.997C117.226 138.997 117.422 138.984 117.579 138.958C117.749 138.919 117.958 138.854 118.206 138.762L117.971 140.329C117.749 140.434 117.494 140.512 117.207 140.565C116.92 140.63 116.632 140.662 116.345 140.662C115.47 140.662 114.823 140.44 114.405 139.996C114.001 139.539 113.798 138.84 113.798 137.9V126.263H115.894ZM124.27 140.662C123.29 140.662 122.428 140.46 121.684 140.055C120.939 139.65 120.358 139.069 119.94 138.312C119.535 137.541 119.333 136.627 119.333 135.569C119.333 134.511 119.535 133.603 119.94 132.846C120.358 132.075 120.933 131.487 121.664 131.082C122.396 130.678 123.225 130.475 124.152 130.475C125.106 130.475 125.916 130.671 126.582 131.063C127.248 131.455 127.757 131.99 128.11 132.669C128.462 133.348 128.639 134.119 128.639 134.981C128.639 135.216 128.632 135.438 128.619 135.647C128.606 135.856 128.586 136.039 128.56 136.196H120.685V134.589H127.64L126.601 134.903C126.601 134.015 126.379 133.335 125.935 132.865C125.491 132.382 124.884 132.14 124.113 132.14C123.552 132.14 123.062 132.271 122.644 132.532C122.226 132.793 121.906 133.185 121.684 133.708C121.462 134.217 121.351 134.844 121.351 135.588C121.351 136.32 121.468 136.94 121.704 137.45C121.939 137.959 122.272 138.344 122.703 138.605C123.134 138.867 123.643 138.997 124.231 138.997C124.884 138.997 125.413 138.873 125.818 138.625C126.222 138.377 126.542 138.031 126.778 137.587L128.443 138.37C128.208 138.84 127.888 139.252 127.483 139.605C127.091 139.944 126.621 140.205 126.072 140.388C125.524 140.571 124.923 140.662 124.27 140.662Z"
          fill="black"></path>
      </svg>
    </a>

    <div class="card">
      <svg
        width="158"
        height="158"
        viewBox="0 0 158 158"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="icon"
      >
        <mask id="path-1-inside-1_194_305" fill="white">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M87.1406 13.5833L101.285 16.9791L90.0763 63.6661L132.147 37.8852L139.663 50.1496L97.5934 75.9296L144.278 87.1376L140.882 101.282L94.2058 90.0759L120 132.168L107.729 139.688L81.9317 97.591L70.7231 144.278L56.5788 140.882L67.7875 94.1947L25.6895 119.992L18.1739 107.728L60.2734 81.9294L13.5834 70.7201L16.9791 56.5758L63.6662 67.7844L37.8888 25.7194L50.16 18.1996L75.9345 60.2598L87.1406 13.5833Z"
          ></path>
        </mask>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M87.1406 13.5833L101.285 16.9791L90.0763 63.6661L132.147 37.8852L139.663 50.1496L97.5934 75.9296L144.278 87.1376L140.882 101.282L94.2058 90.0759L120 132.168L107.729 139.688L81.9317 97.591L70.7231 144.278L56.5788 140.882L67.7875 94.1947L25.6895 119.992L18.1739 107.728L60.2734 81.9294L13.5834 70.7201L16.9791 56.5758L63.6662 67.7844L37.8888 25.7194L50.16 18.1996L75.9345 60.2598L87.1406 13.5833Z"
          fill="#A259FF"></path>
        <path
          d="M101.285 16.9791L102.022 13.9072L105.094 14.6447L104.357 17.7166L101.285 16.9791ZM87.1406 13.5833L84.0686 12.8458L84.8061 9.77391L87.8781 10.5114L87.1406 13.5833ZM90.0763 63.6661L91.727 66.3598L85.2239 70.3449L87.0044 62.9286L90.0763 63.6661ZM132.147 37.8852L130.496 35.1916L133.19 33.5409L134.841 36.2345L132.147 37.8852ZM139.663 50.1496L142.356 48.4989L144.007 51.1926L141.313 52.8433L139.663 50.1496ZM97.5934 75.9296L96.8559 79.0015L89.4397 77.221L95.9428 73.2359L97.5934 75.9296ZM144.278 87.1376L145.016 84.0657L148.088 84.8032L147.35 87.8751L144.278 87.1376ZM140.882 101.282L143.954 102.019L143.217 105.091L140.145 104.354L140.882 101.282ZM94.2058 90.0759L91.5121 91.7265L87.527 85.2235L94.9433 87.0039L94.2058 90.0759ZM120 132.168L122.693 130.517L124.344 133.211L121.65 134.861L120 132.168ZM107.729 139.688L109.379 142.381L106.686 144.032L105.035 141.338L107.729 139.688ZM81.9317 97.591L78.8598 96.8534L80.6403 89.4372L84.6254 95.9403L81.9317 97.591ZM70.7231 144.278L73.795 145.016L73.0575 148.088L69.9856 147.35L70.7231 144.278ZM56.5788 140.882L55.8413 143.954L52.7693 143.217L53.5068 140.145L56.5788 140.882ZM67.7875 94.1947L66.1368 91.501L72.6399 87.5159L70.8594 94.9322L67.7875 94.1947ZM25.6895 119.992L27.3402 122.686L24.6465 124.337L22.9959 121.643L25.6895 119.992ZM18.1739 107.728L15.4803 109.379L13.8296 106.685L16.5232 105.034L18.1739 107.728ZM60.2734 81.9294L61.0109 78.8575L68.4272 80.638L61.9241 84.6231L60.2734 81.9294ZM13.5834 70.7201L12.8459 73.7921L9.77394 73.0545L10.5114 69.9826L13.5834 70.7201ZM16.9791 56.5758L13.9072 55.8383L14.6447 52.7664L17.7166 53.5039L16.9791 56.5758ZM63.6662 67.7844L66.3599 66.1337L70.345 72.6368L62.9287 70.8563L63.6662 67.7844ZM37.8888 25.7194L35.1951 27.3701L33.5444 24.6764L36.2381 23.0257L37.8888 25.7194ZM50.16 18.1996L48.5093 15.5059L51.203 13.8552L52.8536 16.5489L50.16 18.1996ZM75.9345 60.2598L79.0065 60.9973L77.226 68.4136L73.2409 61.9105L75.9345 60.2598ZM100.547 20.051L86.4031 16.6553L87.8781 10.5114L102.022 13.9072L100.547 20.051ZM87.0044 62.9286L98.213 16.2416L104.357 17.7166L93.1483 64.4036L87.0044 62.9286ZM133.798 40.5789L91.727 66.3598L88.4257 60.9725L130.496 35.1916L133.798 40.5789ZM136.969 51.8003L129.453 39.5359L134.841 36.2345L142.356 48.4989L136.969 51.8003ZM95.9428 73.2359L138.012 47.4559L141.313 52.8433L99.2441 78.6232L95.9428 73.2359ZM143.541 90.2095L96.8559 79.0015L98.3309 72.8576L145.016 84.0657L143.541 90.2095ZM137.811 100.544L141.206 86.4001L147.35 87.8751L143.954 102.019L137.811 100.544ZM94.9433 87.0039L141.62 98.21L140.145 104.354L93.4683 93.1478L94.9433 87.0039ZM117.306 133.818L91.5121 91.7265L96.8995 88.4252L122.693 130.517L117.306 133.818ZM106.078 136.994L118.349 129.474L121.65 134.861L109.379 142.381L106.078 136.994ZM84.6254 95.9403L110.422 138.037L105.035 141.338L79.238 99.2416L84.6254 95.9403ZM67.6512 143.541L78.8598 96.8534L85.0036 98.3285L73.795 145.016L67.6512 143.541ZM57.3163 137.81L71.4606 141.206L69.9856 147.35L55.8413 143.954L57.3163 137.81ZM70.8594 94.9322L59.6507 141.62L53.5068 140.145L64.7156 93.4572L70.8594 94.9322ZM24.0389 117.299L66.1368 91.501L69.4382 96.8883L27.3402 122.686L24.0389 117.299ZM20.8676 106.077L28.3832 118.342L22.9959 121.643L15.4803 109.379L20.8676 106.077ZM61.9241 84.6231L19.8246 110.422L16.5232 105.034L58.6227 79.2357L61.9241 84.6231ZM14.3209 67.6482L61.0109 78.8575L59.5359 85.0013L12.8459 73.7921L14.3209 67.6482ZM20.051 57.3133L16.6553 71.4576L10.5114 69.9826L13.9072 55.8383L20.051 57.3133ZM62.9287 70.8563L16.2416 59.6477L17.7166 53.5039L64.4037 64.7124L62.9287 70.8563ZM40.5824 24.0687L66.3599 66.1337L60.9725 69.435L35.1951 27.3701L40.5824 24.0687ZM51.8107 20.8933L39.5394 28.4131L36.2381 23.0257L48.5093 15.5059L51.8107 20.8933ZM73.2409 61.9105L47.4663 19.8503L52.8536 16.5489L78.6282 58.6092L73.2409 61.9105ZM90.2125 14.3208L79.0065 60.9973L72.8626 59.5223L84.0686 12.8458L90.2125 14.3208Z"
          fill="black"
          mask="url(#path-1-inside-1_194_305)"></path>
      </svg>
      {
        getAttendeeByEmailError ? (
          <div>
            <h1>Hubo un error</h1>
          </div>
        ) : data ? (
          <>
            <h1>Te extrañaremos!</h1>
            <p>
              Gracias por liberar este cupo para que otro Figma Lover pueda
              asistir.
            </p>
            <p>Si crees que esto fue un error, contáctate con nosotros.</p>
          </>
        ) : (
          <>
            <h1>¡Ups!</h1>
            <p>
              Parece que aún no estás inscrito en el evento. Inscribete
              <a href="https://friends.figma.com/events/details/figma-chile-presents-figday-2022-aniversario-de-la-comunidad-wework-presencial/">
                acá
              </a>
            </p>
          </>
        )
      }
    </div>
    <div class="social">
      <a href="https://www.instagram.com/fof_chile" target="_blank"
        ><img src="/instagram.png" alt="" />
      </a>
      <a href="https://twitter.com/fof_chile" target="_blank"
        ><img src="/twitter.png" alt="" />
      </a>
      <a
        href="https://www.linkedin.com/company/friends-of-figma-chile/"
        target="_blank"
        ><img src="/linkedin.png" alt="" />
      </a>
    </div>
  </body>
</html>
